@-ms-viewport{
  width: device-width;
}
#main-nav {
    background-color: grey; opacity: 0.5; filter: alpha(opacity=50);
    height:60px;
    z-index:170;
    margin:0 auto;
    border-bottom:1px solid #dadada;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    right:0;
    text-align: center;
}
.section-tittle{
	text-align: center;
}
.service-icon {
	text-shadow: 2px 2px #3CACAC;
	text-align:center;
  animation-duration: 3s;
  animation-name: slidein;
 /* animation-iteration-count: infinite*/
  ;

}
.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
.rotate:hover
{
        -webkit-transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.row-tab-pane{
  padding: 50px;
}
.hidden{
  opacity: 0;
}

.visible{
  opacity: 1;
}

h3{
	text-align:center;


}
p{
	text-align: center;
  

}

#about {

  margin-top: 90px;
 }
 
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}



.social-links {
  max-width: 17.7525em;
  display: inline-flex;
  flex-wrap: wrap;
  float:left;

}

.social-link {
  width: 2.5em;
  height: 2.5em;
  font-size: 2.25em;
  text-decoration: none;
  background: #565656;
  color: #838383;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 0.065em;
  display: box;
  box-orient: horizontal;
  box-align: center;
  box-pack: center;
  transition: all .4s ease-out;
  transform: translateZ(0px);
}
.social-link:hover, .social-link:focus, .social-link:active {
  background: #35c2ba;
  color: white;
  z-index: 1;
  box-shadow: 0 0 1.125em 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
  transition: .3s;
}
.social-link:hover .title, .social-link:focus .title, .social-link:active .title {
  position: relative;
  bottom: 0;
  transition: .3s;
}
.social-link .title {
  width: 100%;
  text-align: center;
  left: 0;
  color: white;
  bottom: -6.75em;
  font-size: 0.35em;
  position: absolute;
  transition: .3s;
}
body{
  background-image: url("sfplanes.png") ;
  background-size: 100% 50%;

 }

